# Faktorët e Performancës së Studentëve

Qëllimi i preprocesimit të datasetit "Faktorët e Performancës së Studentëve" është të përgatisim të dhënat në mënyrë të tillë që ato të jenë të gatshme për analiza të mëtejshme dhe ndërtimin e modeleve parashikuese të sakta. Procesi i parapërpunimit është një hap thelbësor që siguron cilësinë dhe qëndrueshmërinë e të dhënave për të shmangur gabimet në interpretim dhe për të përmirësuar rezultatet e analizave. Kjo përfshin një sërë hapash që pasurojnë datasetin dhe rrisin efikasitetin e tij për qëllime studimi dhe modelimi.

### Libraritë e përdorura

In [14]:
import pandas as pd
import numpy as np
from scipy import stats
from IPython.display import display

### Leximi i dataset-it

In [10]:
# Dataframe kryesore
main_df = pd.read_csv("../dataset/StudentPerformanceFactors.csv")

# Dataframe i preprocesuar
pre_df = pd.read_csv("../dataset/StudentPerformanceFactors_new.csv")

# FAZA E PARË

### 1. Kualiteti i te dhenave

##### 1.1 Definimi i tipeve te dhenave

In [15]:
print("Tipet e te dhenave: \n")
print(main_df.dtypes)

# Atributet kategorike dhe numerike
categorical_columns = main_df.select_dtypes(include=['object']).columns
numerical_columns = main_df.select_dtypes(include=['int64', 'float64']).columns

print("\nAtributet kategorike:", categorical_columns)
print("\nAtributet numerike :", numerical_columns)

Tipet e te dhenave:

Hours_Studied                  int64
Attendance                     int64
Parental_Involvement          object
Access_to_Resources           object
Extracurricular_Activities    object
Sleep_Hours                    int64
Previous_Scores                int64
Motivation_Level              object
Internet_Access               object
Tutoring_Sessions              int64
Family_Income                 object
Teacher_Quality               object
School_Type                   object
Peer_Influence                object
Physical_Activity              int64
Learning_Disabilities         object
Parental_Education_Level      object
Distance_from_Home            object
Gender                        object
Exam_Score                     int64
dtype: object

Atributet kategorike: Index(['Parental_Involvement', 'Access_to_Resources',
       'Extracurricular_Activities', 'Motivation_Level', 'Internet_Access',
       'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence',
       'Learning_Disabilities', 'Parental_Education_Level',
       'Distance_from_Home', 'Gender'],
      dtype='object')

Atributet numerike : Index(['Hours_Studied', 'Attendance', 'Sleep_Hours', 'Previous_Scores',
       'Tutoring_Sessions', 'Physical_Activity', 'Exam_Score'],
      dtype='object')

##### 1.2 Menaxhimi vlerave te zbrazeta (null):

In [29]:
# Metoda per gjetjen e vlerave null
null_counts = main_df.isnull().sum()

print(null_counts)

has_nulls = main_df.isnull().any()

print('\nAtributet qe kane vlera null:', ', '.join(has_nulls[has_nulls].index))

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

Atributet që kanë vlera null: Teacher_Quality, Parental_Education_Level, Distance_from_Home

Ne kodin me poshte, kemi perpunuar te dhenat duke zevendesuar vlerat null me vlera te pershtatshme ne varesi te tipit te atributit (kolones). Fillimisht kemi bere identifikimin e kolonave me vlera te zbrazeta te cilat ndahen ne dy grupe: numerike dhe kategorike. Kolonat numerike zevendesohen me medianen per te shmangur ndikimin e outliers ndersa kolona te tjera numerike perdorin mesataren. Per kolonat kategorike vlerat null zevendesohen me vleren me te shpeshte. Pas kesaj kontrollohet dataset-i per te siguruar qe te gjitha vlerat null jane zevendesuar duke lejuar modifikimin direkt te te dhenave me inplace=True dhe duke parandaluar kopjet e padeshiruara.

In [64]:
# Ndarja e kolonave ne numerike dhe kategorike
numeric_cols = pre_df.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = pre_df.select_dtypes(include=['object', 'category']).columns

# Per kolonat numerike vendos medianen si vlere ne Exam_Score
pre_df.fillna({'Exam_Score': pre_df['Exam_Score'].median()}, inplace=True)

# Vendos vleren mesatare ne kolonat e tjera numerike
for col in numeric_cols:
    if col != 'Exam_Score':
        pre_df.fillna({col: pre_df[col].mean()}, inplace=True)

# Per kolonat kategorike ploteso vlerat e zbrazeta me vleren me te shpeshte
for col in categorical_cols:
    pre_df.fillna({col: pre_df[col].mode()[0]}, inplace=True)

# Kontrollo perseri per vlerat e zbrazeta per te konfirmuar
print("Atributet qe kane vlera null:")
print(pre_df.isnull().sum())

Atributet qe kane vlera null:
Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

In [20]:
# Lista e kolonave qe duhet kontrolluar per vlera te zbrazeta
kolonat = [
    'Hours_Studied', 
    'Attendance', 
    'Parental_Involvement', 
    'Access_to_Resources', 
    'Extracurricular_Activities', 
    'Sleep_Hours', 
    'Previous_Scores', 
    'Motivation_Level', 
    'Internet_Access', 
    'Tutoring_Sessions', 
    'Family_Income', 
    'Teacher_Quality', 
    'School_Type', 
    'Peer_Influence', 
    'Physical_Activity', 
    'Learning_Disabilities', 
    'Parental_Education_Level', 
    'Distance_from_Home', 
    'Gender', 
    'Exam_Score'
]

# Largo rreshtat me vlera null ne kolonat e specifikuara me larte
pre_df.dropna(subset=kolonat, inplace=True)

# Shfaqni numrin e vlerave null qe kane mbetur ne cdo kolone
print(pre_df.isnull().sum())

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

Identifikimin e duplikimeve (duplicates)

In [60]:
# Funksioni per identifikimin e duplikimeve
print("Duplikimet e gjetura: " + str(pre_df.duplicated().sum()))

Duplikimet e gjetura: 0

Ne dataset-in tone nuk kemi gjetur ndonje duplikate prandaj nuk ishte e nevojshme te bejme asnje fshirje te duplikateve. Kjo konfirmon kualitetin e te dhënave dhe na lejon te vazhdojme me analizen e metejeshme.

### 2. Zgjedhja e nen-bashksise se vetive

Duke perdorur datasetin e ri te gjeneruar, fillojme me percaktimin e vetive me te rendsishme per analize, duke u fokusuar ne ato qe jane te lidhura ngushte me Exam_Score.

In [15]:
# Zgjedhja e nenbashkesise se vetive
features_selected = [
    'Hours_Studied', 
    'Attendance', 
    'Parental_Involvement', 
    'Access_to_Resources', 
    'Extracurricular_Activities', 
    'Sleep_Hours', 
    'Previous_Scores', 
    'Motivation_Level', 
    'Internet_Access', 
    'Tutoring_Sessions', 
    'Family_Income', 
    'Teacher_Quality', 
    'Peer_Influence', 
    'Physical_Activity', 
    'Gender'
]

# Krijojme nje dataframe te ri me vetite e zgjedhura
df_selected_features = pre_df[features_selected + ['Exam_Score']]

# Shfaqim disa rreshta nga dataframe-i i ri
print("Dataframe me vetite e zgjedhura:")
display(df_selected_features)

Dataframe me vetite e zgjedhura:

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,Peer_Influence,Physical_Activity,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Positive,3,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Negative,4,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Neutral,4,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Negative,4,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Neutral,4,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Positive,2,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Positive,2,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Negative,2,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Positive,3,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Positive,4,Male,64

Krijimi i vetive te reja

Nje prej vetive te cilat do te krijojme eshte Study_Value e cila eshte nje prodhim i Hours_Studied dhe Prevous_Scores. Ky atribut do te ndihmoj per te kuptuar se sa efektive jane order e studimit ne lidhje me rezultatet e meparshme.

In [18]:
# Krijimi i vetive te reja
df_selected_features.loc[:, 'Study_Value'] = df_selected_features['Hours_Studied'] * df_selected_features['Previous_Scores']

# Shfaqim disa rreshta nga dataframe-i per te kontrolluar Study_Value
print("Dataframe pas krijimit te Study_Value:")
display(df_selected_features[['Hours_Studied', 'Previous_Scores', 'Study_Value']].head())

Dataframe pas krijimit të Study_Value:

   Hours_Studied  Previous_Scores  Study_Value
0             23               73         1679
1             19               59         1121
2             24               91         2184
3             29               98         2842
4             19               65         1235

Nje tjeter veti e re do te jete Activity_Score e cila eshte nje shprehje per te kombinuar disa aktivitete fizike dhe jashteshkollore. Perdorim Physical_Activity dhe Extracurricular_Activity per te krijuar kete veti.

In [25]:
# Krijimi i Activity_Score bazuar ne aktivitetet fizike dhe jashteshkollore
df_selected_features.loc[:, 'Activity_Score'] = df_selected_features['Physical_Activity'] + df_selected_features['Extracurricular_Activities'].apply(lambda x: 1 if x == 'Yes' else 0)

# Shfaqim disa rreshta nga dataframe-i per te kontrolluar Activity_Score
print("Dataframe pas krijimit të Activity_Score:")
display(df_selected_features[['Physical_Activity', 'Extracurricular_Activities', 'Activity_Score']].head())

Dataframe pas krijimit të Activity_Score:

   Physical_Activity Extracurricular_Activities  Activity_Score
0                3.0                         No             3.0
1                4.0                         No             4.0
2                4.0                        Yes             5.0
3                4.0                        Yes             5.0
4                4.0                        Yes             5.0

Binarizimi i Sleep_Hours

Krijojme vetine e cila tregon nese nje student ka me shume se 7 ore gjume, duke e binarizuar ate. Kjo mund te ndihmoj per te kuptuar ndikimin e gjumit/pushimit ne performancen akademike.

In [27]:
# Krijimi i dataframe-it të ri me një kopje
df_selected_features = pre_df[features_selected + ['Exam_Score']].copy()

# Binarizimi i Sleep_Hours: 0 per me pak se 7 ore, 1 per 7 ore ose me shume
df_selected_features.loc[:, 'Sleep_Binary'] = df_selected_features['Sleep_Hours'].apply(lambda x: 1 if x >= 7 else 0)

# Shfaqim disa rreshta nga dataframe-i per te kontrolluar Sleep_Binary
print("Dataframe pas binarizimit të Sleep_Hours:")
display(df_selected_features[['Sleep_Hours', 'Sleep_Binary']].head())

Dataframe pas binarizimit të Sleep_Hours:

   Sleep_Hours  Sleep_Binary
0            7             1
1            8             1
2            7             1
3            8             1
4            6             0

Krijojme vetine Family_Income duke bere binarizimin per te krijuar nje veti qe tregon nese te ardhurat e familjes jane te larta os te ulta. Kjo mund te behet duke klasifikuar Family_Income neper disa kategori low, medium, high.

In [31]:
# Binarizimi i Family_Income: 0 per "Low", 1 per "Medium" dhe "High"
df_selected_features.loc[:, 'Income_Binary'] = df_selected_features['Family_Income'].apply(lambda x: 1 if x in ['Medium', 'High'] else 0)

# Shfaqim disa rreshta nga dataframe-i per te kontrolluar Income_Binary
print("Dataframe pas binarizimit të Family_Income:")
display(df_selected_features[['Family_Income', 'Income_Binary']].head())

Dataframe pas binarizimit të Family_Income:

  Family_Income  Income_Binary
0           Low              0
1        Medium              1
2        Medium              1
3        Medium              1
4        Medium              1

#### Kontrollimi i te dhenave te reja

In [33]:
# Shikoni strukturën e re të dataframe-it
print("Dataframe pas krijimit të vetive të reja:")
display(df_selected_features.head())

Dataframe pas krijimit të vetive të reja:

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,Peer_Influence,Physical_Activity,Gender,Exam_Score,Sleep_Binary,Income_Binary
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Positive,3,Male,67,1,0
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Negative,4,Female,61,1,1
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Neutral,4,Male,74,1,1
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Negative,4,Male,71,1,1
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Neutral,4,Female,70,0,1